@{
    ViewBag.Title = "Reset password confirmation";
}
<!-- Navigation Starts -->
<div id="nav" class="navbar navbar-default" role="navigation">
    <!-- Navbar Header Starts -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Navbar Header Ends -->
    <!-- Navbar Collapse Starts -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/Home/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/Skills">My Skills</a></li>
            <li><a href="/Home/Works">Works</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
        </ul>
    </div>
    <!-- Navbar Collapse Ends -->
</div>
<!-- Navigation Ends -->
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
