@using MVCResumeWebsite.Controllers;
@{
    ViewBag.Title = "About";
}
<!-- Navigation Starts -->
<div id="nav" class="navbar navbar-default" role="navigation">
    <!-- Navbar Header Starts -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Navbar Header Ends -->
    <!-- Navbar Collapse Starts -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/Home/">Home</a></li>
            <li class="active"><a href="/Home/About">About</a></li>
            <li><a href="/Home/Skills">My Skills</a></li>
            <li><a href="/Home/Works">Works</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
        </ul>
    </div>
    <!-- Navbar Collapse Ends -->
</div>
<!-- Navigation Ends -->
<!-- Main Text Starts -->
<h1 class="main-head">About Me</h1>
<h2 class="text-uppercase">
    Brief introduction of myself
</h2>
<!-- Main Text Ends -->
<!-- Content Starts -->
<div class="content-area">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <img src="/images/about-img.jpg" alt="About" class="img-responsive about-img">
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-uppercase">Steven Potts</h2>
            <p>
                Game Developer / Writer / Voice Actor
            </p>
            <p>
                I have loved games since I was a kid.  I got an original Nintendo when I was four years old, but the first game that really grabbed me and sucked me in was the original Final Fantasy.  I'd always loved books, getting taken into a story and there was a game that offered that same ability, but it allowed you to be more a part of the story and actually take part in it.
            </p>
        </div>
    </div>
    <p>
        My first exposure to programming was in my senior year in High School, Visual Basic and C++. I picked it up really easily, it was challening and fun and I could usually figure out and finish projects in a day when the teacher would assign us weeks to do them.
    </p>
    <p>
        The moment I knew I wanted to make games came when a friend of mine and I were having a conversation about the Lunar series. This was back before there had been a number of remakes, I loved the originals on the Sega CD. Both my friend and I sat down and worked out an entire design, story and everything for the third game in the series. We took a little bit of that information and we sent it in an e-mail to Working Designs. We never heard anything back, but I enjoyed that so much that I knew it was what I wanted to do.
    </p>

    <br>
    <p>
        <a href="/MyResume.doc" class="btn btn-white btn-lg">
            Download Resume
            <span class="fa fa-download"></span>
        </a>
    </p>
</div>
<!-- Content Ends -->
