@{
    ViewBag.Title = "Contact";
}
<!-- Navigation Starts -->
<div id="nav" class="navbar navbar-default" role="navigation">
    <!-- Navbar Header Starts -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Navbar Header Ends -->
    <!-- Navbar Collapse Starts -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/Home/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/Skills">My Skills</a></li>
            <li><a href="/Home/Works">Works</a></li>
            <li class="active"><a href="/Home/Contact">Contact</a></li>
        </ul>
    </div>
    <!-- Navbar Collapse Ends -->
</div>
<!-- Navigation Ends -->
<!-- Main Text Starts -->
<h1>Reach Me</h1>
<!-- Main Text Ends -->
<!-- Content Starts -->
<div class="content-area">
    <!-- Map Section Starts
        <div class="map"></div>
    Map Section Ends -->
    <!-- Request Quote Form Starts -->
    <div class="status alert alert-success"></div>
    <form method="post" action="/Home/Contact/">
        <div class="row">
            <div class="col-sm-4">
                <!-- Name Field Starts -->
                <div class="form-group">
                    <label for="name" class="sr-only">Name: </label>
                    <input type="text" class="form-control" name="Name" id="name" required="required" placeholder="Name">
                </div>
                <!-- Name Field Ends -->
            </div>
            <div class="col-sm-4">
                <!-- Email Field Starts -->
                <div class="form-group">
                    <label for="email" class="sr-only">E-mail: </label>
                    <input type="text" class="form-control" name="FromEmail" id="email" required="required" placeholder="E-mail">
                </div>
                <!-- Email Field Ends -->
            </div>
            <div class="col-sm-4">
                <!-- Subject Field Starts -->
                <div class="form-group">
                    <label for="name" class="sr-only">Subject: </label>
                    <input type="text" class="form-control" name="Subject" id="subject" required="required" placeholder="Subject">
                </div>
                <!-- Subject Field Ends -->
            </div>
            <div class="col-xs-12">
                <!-- Message Field Starts -->
                <div class="form-group">
                    <label for="message" class="sr-only">Message: </label>
                    <textarea class="form-control" rows="7" name="Message" id="message" required="required" placeholder="Message"></textarea>
                </div>
                <!-- Message Field Ends -->
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-main btn-lg" value="Send Message">
            </div>
        </div>
    </form>
    <!-- Request Quote Form Ends -->
    <!-- Container Ends -->
    <!-- Request Quote Ends -->
    <!-- Contact Details Starts -->
    <div class="row">
        <div class="col-xs-12">
            <p>

            </p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <!-- Address Block Starts
                <h3>Address</h3>
                <ul class="list-unstyled">
                    <li>The Company Name Inc.</li>
                    <li>9870 St Vincent Place,</li>
                    <li>Glasgow, DC 45 Fr 45.</li>
                </ul>
            Address Block Ends -->
        </div>
        <div class="col-sm-4 col-xs-12">
            <!-- Phone Number Block Starts -->
            <h3>Phone Number</h3>
            <ul class="list-unstyled">
                <li>(336) 965-1198</li>
            </ul>
            <!-- Phone Number Block Ends -->
        </div>
        <div class="col-sm-4 col-xs-12">
            <!-- Email Block Starts -->
            <h3>Email</h3>
            <ul class="list-unstyled">
                <li>steven@fleetinginfinity.com	</li>
            </ul>
            <!-- Email Block Ends -->
        </div>
    </div>
    <!-- Contact Details Ends -->
</div>
<!-- Content Ends -->