@using MVCResumeWebsite.Controllers;
@{
    ViewBag.Title = "Index";
}

<!-- Navigation Starts -->
<div id="nav" class="navbar navbar-default" role="navigation">
    <!-- Navbar Header Starts -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Navbar Header Ends -->
    <!-- Navbar Collapse Starts -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Home/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/Skills">My Skills</a></li>
            <li><a href="/Home/Works">Works</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
        </ul>
    </div>
    <!-- Navbar Collapse Ends -->
</div>
<!-- Navigation Ends -->
<!-- Welcome Text Starts -->
<h1 class="main-head">Hello, <br>I am Steven Potts</h1>
<h2 class="text-uppercase">
    Game Developer <span class="fa fa-certificate"></span> Writer <span class="fa fa-certificate"></span> Voice Actor
</h2>
<!-- Welcome Text Ends -->
<!-- Quotes Starts-->
<blockquote class="quotes">
    <p>
        Since I read my first book, played my first game, I've wanted to create a world that someone would love as much as I loved those.
    </p>
</blockquote>
<!-- Quotes Ends -->
<!-- Recent Works Starts-->
<div class="recent-works">
    </div>
