@{
    var customerName = Request["Name"];
    var customerEmail = Request["Email"]; 
    var customerRequest = Request["Message"];
    var customerSubject = Request["Subject"];
    var errorMessage = "";
    var sendTo = "steven@fleetinginfinity.com";
    customerRequest = customerRequest + " from " + customerName + " at " + customerEmail;
    var debuggingFlag = false;
    try {
        // Initialize WebMail helper
        WebMail.SmtpServer = "smtp.sendgrid.net";
        WebMail.SmtpPort = 25;
        WebMail.UserName = "slpotts";
        WebMail.Password = "b00f00f00";
        WebMail.From = customerEmail;

        // Send email
        WebMail.Send(to: sendTo,
            subject: customerSubject,
            body: customerRequest,
            replyTo: customerEmail
        );
    }
    catch (Exception ex ) {
        errorMessage = ex.Message;
    }
}

<!-- Navigation Starts -->
<div id="nav" class="navbar navbar-default" role="navigation">
    <!-- Navbar Header Starts -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Navbar Header Ends -->
    <!-- Navbar Collapse Starts -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/Home/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/Skills">My Skills</a></li>
            <li><a href="/Home/Works">Works</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
        </ul>
    </div>
    <!-- Navbar Collapse Ends -->
</div>
<!-- Navigation Ends -->
<!-- Welcome Text Starts -->
<p>Thanks for sending me an e-mail, <b>@customerName</b>.  I'll get back with you as soon as I can.</p>
